<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Adhder</string>
    <key>CFBundleDisplayName</key>
    <string>Adhder</string>
    <key>CFBundleIdentifier</key>
    <string>nl.treinvertraging.adhder</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Adhder</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>Adhder reads your calendar to remind you when meetings are about to start.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Adhder reads your calendar to remind you when meetings are about to start.</string>
</dict>
</plist>
